.container
  display: flex
  flex-direction: row
  margin: 20px 20px
  justify-content: center
  flex-wrap: wrap

  &-item
    margin: 10px
    border: 1px solid #ccc
    padding: 20px
    border-radius: 10px

    button
      margin: 0

